<form *ngIf="form" [formGroup]="form" (submit)="submit()">
  <p class="mat-title">Budget Setup</p>
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput formControlName="code" placeholder="Enter Code" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select formControlName="category">
        <mat-option
          *ngFor="let category of categories | async"
          [value]="category"
          >{{ category.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        formControlName="amount"
        placeholder="Enter Amount"
        type="number"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Enter Description</mat-label>
      <textarea matInput rows="3" formControlName="description"></textarea>
    </mat-form-field>
  </div>
  <div class="dialog-footer">
    <button mat-button (click)="dialogRef.close()">Cancel</button>
    <button mat-button color="primary" [disabled]="form.invalid">Save</button>
  </div>
</form>
