<header>
  <h1 class="mat-display-1">Travel-Waka</h1>
  <nav>
    <ul>
      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Expense</a
        >
      </li>
      <li>
        <a routerLink="/budget" routerLinkActive="active">Manage Budget</a>
      </li>
      <li>
        <a routerLink="/categories" routerLinkActive="active"
          >Manage Categories</a
        >
      </li>
    </ul>
  </nav>
</header>
