<div class="row no-gutters my-2">
  <div class="col-sm-12 mb-2" *ngFor="let budget of budgets | async">
    <mat-card class=" mat-elevation-z0">
      <mat-card-subtitle>{{ budget.code | uppercase }}</mat-card-subtitle>
      <mat-card-content>
        <p class="mat-subheading-1">
          {{ budget.spent | currency: appCurrency }}
        </p>
        <div class="flexed">
          <small class="mat-caption"
            >({{ budget.amount | currency: appCurrency }})</small
          >
          <small>
            {{(budget.amount - budget.spent) | currency: appCurrency}}
          </small>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
